body {
    
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    
}

@font-face {
    font-family: "creato" ;
    src: url(fontes/creato-display/CreatoDisplay-Regular.otf), format("opentype");
}
h2 {
    font-family: 'creato';
    font-size: 50px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #cdbb93;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid green; */
}
.form-container {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding-bottom: 50px;
    background-color: #080734;
    color: #fff;
}

input, button {
    margin-bottom: 10px;
    border: none;
    width: 50%;
    padding: 15px;
    border-radius: 14px;
    font-family: 'creato';
    font-size: 15px;
    
}
label {
    font-family: 'creato';
    font-size: 20px;
    
}

button {
    background-color: #36357c;
    
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}


.inventory-container {
    /* border: 2px solid green; */
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-left: 20px;
    max-width: 600px;
    margin: 20px auto;

}
#productList {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    padding-bottom: 50px;
    font-family: 'creato';
    font-size: 20px;
    text-align: start;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

li button:hover {
    background-color: #d32f2f;
}
/* Atualização */



.form-container {
    flex: 1;
}

.inventory-container,
.details-container {
    flex: 1;
    margin-left: 20px;
}

#total-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}
#totalValue {
    font-family: 'creato';
    font-size: 50px;
    font-weight: bold;
    border: 2px solid black;
    background-color: white;
}
#productDetails {
    font-family: 'creato';
    font-size: 20px;
    text-align: center;
}



